<a href="https://colab.research.google.com/github/jcj217-mc/Project_1/blob/master/jj_CT_bail_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import packages
import pandas as pd
import numpy as np
import os 
import json

In [ ]:
# .json file data imported as pandas data frame
# df = pd.read_json('https://data.ct.gov/resource/b674-jy6w.json')

In [ ]:
# .csv file import
# First, check  working directory
# os.getcwd()
# If need to change working directory
# os.chdir(path)
# df = pd.read_csv("Accused_Pre-Trial_Inmates_in_Correctional_Facilities.csv", index_col=False)

In [4]:
#Set CSV
df_set = pd.read_csv("setdf.csv", index_col=False)

**Data Wrangling**

In [5]:
# Evaluating initial data 
df_set.head()

  DOWNLOAD DATE  ... DETAINER
0       5/15/20  ...                                             NONE
1       5/15/20  ...                                             NONE
2       5/15/20  ...                                             NONE
3       5/15/20  ...                                             NONE
4       5/15/20  ...                                             NONE

[5 rows x 10 columns]

In [6]:
df_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column                                            Non-Null Count    Dtype
---  ------                                            --------------    -----
 0   DOWNLOAD DATE                                     1048575 non-null  object
 1   IDENTIFIER                                        1048575 non-null  object
 2   LATEST ADMISSION DATE                             1048575 non-null  object
 3   RACE                                              1048575 non-null  object
 4   GENDER                                            1048575 non-null  object
 5   AGE                                               1048575 non-null  int64
 6   BOND AMOUNT                                       1048575 non-null  int64
 7   OFFENSE                                           1048575 non-null  object
 8   FACILITY                                          1048575 non-null  object
 9   DETAINER                                          1048575 non-null  object
dtypes: int64(2), object(8)
memory usage: 80.0+ MB

In [7]:
df_set.describe()

                AGE   BOND AMOUNT
count  1.048575e+06  1.048575e+06
mean   3.384820e+01  1.947709e+05
std    1.128990e+01  3.542701e+05
min    1.500000e+01  1.000000e+00
25%    2.500000e+01  2.510000e+04
50%    3.200000e+01  7.750000e+04
75%    4.100000e+01  2.000000e+05
max    8.100000e+01  9.200000e+06

In [9]:
#Checking Shape
print(df_set.shape)

(1048575, 10)

In [10]:
#Check DataFrame type
type(df_set)

pandas.core.frame.DataFrame

In [11]:
# change column names
# df_1 = df.rename(columns = {"existing column name 1": "new column name 1", "existing column name 2":"new column name 2"})
# df_1.head()

In [12]:
# Checking data types for each column
print(df_set.dtypes)

DOWNLOAD DATE                                       object
IDENTIFIER                                          object
LATEST ADMISSION DATE                               object
RACE                                                object
GENDER                                              object
AGE                                                  int64
BOND AMOUNT                                          int64
OFFENSE                                             object
FACILITY                                            object
DETAINER                                            object
dtype: object

**Addressing NA/Null Values**

In [13]:
# Check null 
df_set.isnull()

         DOWNLOAD DATE  ...  DETAINER
0                False  ...                                             False
1                False  ...                                             False
2                False  ...                                             False
3                False  ...                                             False
4                False  ...                                             False
...                ...  ...                                               ...
1048570          False  ...                                             False
1048571          False  ...                                             False
1048572          False  ...                                             False
1048573          False  ...                                             False
1048574          False  ...                                             False

[1048575 rows x 10 columns]

In [14]:
# Null sum
df_set.isnull().sum()

DOWNLOAD DATE                                       0
IDENTIFIER                                          0
LATEST ADMISSION DATE                               0
RACE                                                0
GENDER                                              0
AGE                                                 0
BOND AMOUNT                                         0
OFFENSE                                             0
FACILITY                                            0
DETAINER                                            0
dtype: int64

In [15]:
# Filling NAs
# df_2.fillna(0)

**Date/Time**

In [16]:
# Create separate columns for month day and year 
# df.Date = pd.to_datetime(df_2.Date)
# df_2[['month', 'year']] = df_2.Date.apply(lambda x: pd.Series(x.strftime("%m, %Y").split(",")))
# df_2

In [17]:
# Changing Date to datetime
# df.Date = pd.to_datetime(df_1.Date)

**Clean/Arrange Data**

In [18]:
# Drop rows or columns
# df.dropna() # default is row-wise
# df.dropna(axis = 1) #column-wise.

In [19]:
# Remove Column(s) by index number
# df.drop(df_2.columns[[2]], axis=1, inplace=True,)
# df.head(5)

In [ ]:
# Group by
# df_group = df_1.groupby('Column name')
# df_group.head()

In [ ]:
# Group by then sort by Date
# df_3 = df_1.groupby('column name').apply(lambda x: x.sort_values('Date'))
# df_3.head(30)

In [ ]:
# Group by Year Sum
# df_year = df_3.groupby(['year'], as_index=False).agg({'column name': sum})
# df_year.head()

In [ ]:
# Sum of avg. daily pop by month and year
# df_monthyear = df_3.groupby(['year', 'month'], as_index=False).agg({'Column name': sum})
# df_monthyear.head(20)

In [ ]:
# Changing column type to integer
# df_monthyear['column_name'].astype(int)

In [20]:
# Examining Unique Entries
df_set.nunique()

DOWNLOAD DATE                                         321
IDENTIFIER                                          18452
LATEST ADMISSION DATE                                1851
RACE                                                    5
GENDER                                                  2
AGE                                                    67
BOND AMOUNT                                          2294
OFFENSE                                               298
FACILITY                                               42
DETAINER                                               10
dtype: int64

In [21]:
# Examining Offense Types Only
df_set.OFFENSE.nunique()

298

In [22]:
# Examining Offense Types
offense_array = df_set.OFFENSE.unique()
print(offense_array)

['CRIMINAL POSS OF PISTOL/REVOLVER      DF'
 'VIOLATION OF PROBATION OR COND DISCHG' 'CRIMINAL ATTEMPT'
 'CRIM VIOL OF PROTECTIVE ORDER         DF'
 'CRIM VIOL ST CRIM RESTR ORDER         DF'
 'ASSAULT 2ND, VICTIM 60 OR OVER        DF'
 'INTERFERING WITH AN OFFICER           AM'
 'LARCENY, SECOND DEGREE                CF'
 'MURDER                                AF'
 'ASSAULT, SECOND DEGREE                DF' 'ARREST WARRANT'
 'YOUTHFUL OFFENDER' 'UNLAWFUL RESTRAINT, FIRST DEGREE      DF'
 'LARCENY, FIRST DEGREE                 BF'
 'CRIMINAL TRESPASS, THIRD DEGREE       CM'
 'STALKING, 1ST DEGREE                  DF'
 'BURGLARY, THIRD DEGREE                DF'
 'SALE OF NARC/AMPHET BY NON-DEPENDENT   F'
 'ASSAULT 2ND DEGREE WITH A FIREARM     DF'
 'FORGERY, FIRST DEGREE                 CF' 'JUVENILE TRANSFER'
 'CONSPIRACY' 'SEXUAL ASSAULT, FIRST DEGREE           F'
 'ASSAULT ON POLICE OR FIRE OFFICER     CF'
 'FORGERY, SECOND DEGREE                DF'
 'ASSAULT 3RD DEGREE, VICTIM OVER 59    AM'
 'STEALING A FIREARM                    DF'
 'SEXUAL ASSAULT, SECOND DEGREE          F'
 'CRIMINAL POSSESSION OF A PISTOL       DF'
 'LARCENY, THIRD DEGREE                 DF'
 'ROBBERY, FIRST DEGREE                 BF'
 'SEXUAL ASSAULT 1ST DEGREE-AGGRVTD      F'
 'HOME INVASION                         AF'
 'BURGLARY, SECOND DEGREE               CF'
 'SALE OF HEROIN, COC BY NON-DEPENDENT'
 'INJURY OR RISK OF INJURY TO MINOR      F'
 'ARSON, FIRST DEGREE                   AF'
 'INCITING INJURY TO PERSONS OR PROPTY  CF' 'STRANGULATION 3RD DEGREE'
 'FAILURE TO APPEAR, FIRST DEGREE       DF'
 'CARRYING WEAPONS WITHOUT A PERMIT      F'
 'THREATENING                           AM'
 'RECKLESS ENDANGERMENT, FIRST DEGREE   AM'
 'ASSAULT, FIRST DEGREE                 BF'
 'ASSAULT, 1ST VICTIM 60 OR OVER        BF'
 'ROBBERY, THIRD DEGREE                 DF'
 'LARCENY, FOURTH DEGREE                AM'
 'HARASSMENT, 2ND DEGREE                CM' 'SPECIAL PAROLE'
 'VIOLATION OF CONDITIONS OF RELEASE'
 'IDENTITY THEFT 2ND DEGREE             CF'
 'STRANGULATION 2ND DEGREE              DF'
 'VIOLATE COND OF RELEASE-2ND DEG       AM' 'CRUELTY TO PERSONS'
 'ALTERING OR REMOVING IDENT NUMBER      F'
 'CRIM VIOL OF PROTECTIVE ORDER         AM'
 'POSSESSING CHILD PORNOGRAPH            F'
 'OPERATING UNDER SUSPENDED LIC OR REG.  M' 'CREDIT CARD THEFT'
 'BURGLARY, FIRST DEGREE                BF'
 'MANSLAUGHTER, SECOND DEGREE           CF'
 'EVADING RESPONSIBILITY                 M'
 'ASSAULT, THIRD DEGREE                 AM'
 'LARCENY, FIFTH DEGREE                 BM'
 'SALE OF HALLUCIGEN/NARCOTIC SUBSTANCE  F' 'ARREST WITHOUT WARRANT'
 'CRIMINAL IMPERSONATION                BM'
 'ROBBERY, SECOND DEGREE                CF' 'POSSESSION OF NARCOTICS'
 'SEX ASLT, SPOUSE/COHAB RELATIONSHIP   BF'
 'TAMPERING WITH OR FABRICATING EVIDNC  DF'
 'INJURY/RISK OF INJURY TO MINOR- SEXUAL C'
 'FAILURE TO APPEAR, SECOND DEGREE      AM'
 'FELONY MURDER                         AF'
 'PROBATION AND CONDITIONAL DISCHARGE'
 'ILL POSSESS CHILD PORN 2ND DEG         F'
 'CRIM VIOL RES ORDER                   AM'
 'STRANGULATION 1ST DEGREE              CF'
 'BURGLARY, FIRST DEGREE: 53A101A(2)    BF'
 'RECKLESS ENDANGERMENT, SECOND DEGREE  BM'
 'SELLING WEAPONS TO ALIENS PROHIBITED   F' '(REPEALED) 53-048'
 'ESCAPE FROM CUSTODY' 'KIDNAPPING, FIRST DEGREE              AF'
 'PERMIT TO SELL OR CARRY PISTOL'
 'CARRYING WEAPON IN A MOTOR VEHICLE     F'
 'CRIMINAL MISCHIEF, SECOND DEGREE      AM' '53A021'
 'BREACH OF PEACE                       BM'
 'CONVEY UNAUTHZD ITEMS INTO INST       DF'
 'MANSLAUGHTER, FIRST DEGREE, FIREARM   BF'
 'AGGAVTD SEX ASSLT-VCTM < 13YR         AF'
 'ROBBERY, FIRST DEGREE                BF'
 'MANSLAUGHTER 2ND WITH MV (INTOX)      CF'
 'CARRYING OR SALE OF DANGEROUS WEAPON'
 'CRIMINAL MISCHIEF, FIRST DEGREE       DF'
 'ASSAULT 2ND WITH MV WHILE INTOXICATED DF'
 'DRUG PARAPHERNALIA IN DRUG FACTORY     F'
 'ORGANIZED RETAIL THEFT                 F'
 'OPERATE UNDER INFLU OF LIQ OR DRUGS'
 'CAPITAL FELONY                         F'
 'PROMOTING MINOR IN OBSCENE PERFORMNCE BF'
 'CRIMINAL LIABILITY FOR ANOTHER PERSON'
 'MANSLAUGHTER, FIRST DEGREE            BF'
 'OBSCENITY                             BM'
 'IDENTITY THEFT 3RD DEGREE             DF'
 'CRIMINAL TRESPASS, SECOND DEGREE      BM'
 'ASSAULT 2ND, VICTIM 60+, WITH FIREARM DF'
 'ESCAPE, FIRST DEGREE                  CF'
 'PRIMARY OFFENSE NOT DETERMINED'
 'THREATENING 1ST DEGREE                DF'
 'NEGLG STORAGE OF A FIREARM            DF'
 'CRIMINAL TRESPASS, FIRST DEGREE       AM'
 'USING MOTOR VEHICLE W/O PERMISSION'
 'DISORDERLY CONDUCT                    CM'
 'LARCENY, SIXTH DEGREE                 CM'
 'UNLAWFUL RESTRAINT, SECOND DEGREE     AM'
 'BRIBERY OF WITNESS                    DF'
 'KIDNAPPING, 2ND DEGREE                BF'
 'SEXUAL ASSAULT, THIRD DEGREE          DF' 'CARRY PIST/RVOLV W/O PERMIT'
 'SEXUAL ASSAULT, FOURTH DEGREE         AM'
 'INTIMIDATING A WITNESS                CF'
 'CUSTODIAL INTERFERENCE, FIRST DEGREE  DF'
 'STALKING, 2ND DEGREE                  AM'
 'MANUF OR POSSESSION OF BURGLAR TOOLS  AM'
 'HARASSMENT 1ST DEGREE                 DF'
 'INTIMIDATE DUE TO BIAS 3RD DEG        AM'
 'CRIM VIOL CIVIL PROTECTION ORDER      DF'
 'EMPLOYING MINOR IN OBSCENE PERFORMNCE AF'
 'IDENTITY THEFT 1ST DEGREE             BF' 'VOYEURISM'
 'KIDNAPPING 2ND DEG W/ FIREARM         BF'
 'USING MACHINE GUN IN CRIME             F' 'FALSELY REPORTING INCIDENT'
 'OPERATE UNDER INFLU OF LIQ OR DRUGS    M'
 'ILLEGAL MANUFACTUAL OR SALE OF DRUGS'
 'THEFT FROM PERSON                      F'
 'DISSEMINATING VOYEURISTIC MATERIAL    DF'
 'CRIMINAL MISCHIEF, THIRD DEGREE       BM'
 'MISCONDUCT WITH A MOTOR VEHICLE       DF'
 'IMPORTING CHILD PORNOGRAPHY            F' 'SEARCHES AND SEIZURES'
 'POSS OF WEAPON IN A CCI               BF'
 'SALE OF CONTROLLED SUBSTANCE           F'
 'ARSON, THIRD DEGREE                   CF'
 'PROHIB ACTS RE: DRUG PARAPHERNALIA'
 'KIDNAPPING 1ST DEG W/ FIREARM         AF'
 'RECKLESS BURNING                      DF'
 'TAMPERING WITH WITNESS                DF'
 'ASSAULT, ON DOC EMPLOYEE              BF'
 'LEAV CHILD UNSUPERV IN PUBL/MOT VEH    C'
 'TRAFFICKING IN PERSONS                BF'
 'ARSON, SECOND DEGREE                  BF'
 'RECKLESS DRIVING                       M'
 'TELEPHONE FRAUD, 1ST DEGREE           BF'
 'PUBLIC INDECENCY                      BM'
 'IL POS LRG CAP MAG OBT AF 4/13        DF'
 'MANUFACTURE OF BOMBS                  BF'
 'MISREP OF SUB AS CONTROLLED SUB       DF'
 'INTIMIDATION BSD BIGOTRY/BIAS         DF'
 'BURGLARY, SECOND DEGREE WITH FIREARM  CF' 'CRUELTY TO ANIMALS'
 'VIO DEADLY WEAPON REGIST REQS         DF'
 'CRIMINAL USE OF A FIREARM             DF'
 'REG PERSON WHO COMM OFF AGAINST MINOR DF'
 'POSSESS OF HALLUC OR 4+ OZ MARIJUANA   F'
 'REG PERSON WHO COMM SEX VIOL OFF      DF'
 'INJUNCTION AND RESTRAINING ORDER'
 'FORGERY, THIRD DEGREE                 BM'
 'CRIMINAL TROVER, 1ST DEGREE            F' 'FAILURE TO OBEY AN OFFICER'
 'POSS OF ASSAULT WEAPON PROHIBITED'
 'CRIMINAL MISCHIEF, FOURTH DEGREE      CM'
 'FAILURE TO PAY OR PLEAD                M'
 'USE OF MACHINE GUN IN A CRIME  DELETED F'
 'FOLLOW TOO CLOSELY W/ INTENT TO HARASS M' 'PURGE CIVIL COMMITMENT'
 'INTERFERING WITH AN EMERGENCY CALL    AM'
 'ABUSE OF PERSONS-1ST DEGREE           CF'
 'PROMOTING PROSTITUTION, FIRST DEGREE  BF'
 'DRINKING WHILE OPERATING MOTOR VEHICL CM'
 'FLR KEEP NARC IN ORG CONTAINER         F'
 'ILLEGAL REFUSAL OF DNA TESTING'
 'BURGLARY, THIRD DEGREE WITH FIREARM   DF'
 'POSSESSION OF SHOTGUN OR SILENCER     DF'
 'HINDER PROSECUTION, FIRST DEGREE      DF' 'PROHIBITED ACTIVITIES'
 'DRUGS NEAR PROBIBITED PLACE' 'NEGLIGENT HOMICIDE W/ MOTOR VEHICLE   BM'
 'HINDERING PROSECUTION 2ND DEG'
 'PROSTITUTION                          AM'
 'POSS WEAPON ON SCHOOL GROUNDS         DF'
 'PROMOTING PROSTITUTION, SECOND DEGREE CF'
 'ILL AFFIX FRAUDULENT                   F'
 'UNLAWFUL REPRODUCTION OF CREDIT CARD  DF'
 'DRIVING WHILE LICENSE SUSP FOR DWI'
 'ILLEGAL POSSES OF SHOP LIFTING DEVICE AM'
 'ILLEGAL POSSESSION OF EXPLOSIVES       F'
 'RECEIVING STOLEN PROPERTY, LARCENY     M'
 'AFFIRMATIVE DEFENSES TO CIMINAL TRESPASS'
 'RAPE, SECOND DEGREE                   CF'
 'ILL POSSESS CHILD PORN 3RD DEG        DF'
 'CRIMINALLY NEGLIGENT HOMICIDE         AM'
 'REGULATION OF RESTRICTED SUBSTANCES' 'APPLICATION TO PURCHASE A FIREARM'
 'FOLLOWING TOO CLOSELY' 'PROHIB ACTS RE: DRUG PARA, SCHOOL'
 'ILLEGAL USE OF CREDIT CARD' 'ILL CARRY FIREARM-UI DRUGS/ALC'
 'PRACTICE OF LAW BY NON-ATTORNEYS       M'
 'MISAPPLICATION OF PROPERTY            AM'
 'CRIMINAL CONTEMPT                      M'
 'HINDERING PROSECUTION 3RD DEG         DF'
 'EVADING RESPONSIBILITY, OTHER THAN MV  M'
 'OPERATING MV W/O INSURANCE            CM' 'TEMPORARY SURRENDER'
 'CRIM DAMAGE PROPERTY 1ST DEG          DF'
 'STALKING, 3RD DEGREE                  BM'
 'IMPERSONATION OF POLICE OFFICER       DF' 'INTERSTATE PAROLE COMPACT'
 'SALE, CARRY & BRAND OF FACSIMILE'
 'POSSESS OF LT 4 OZ MJ OR CONTROLD SUB'
 'PERMITTING PROSTITUTION               AM' 'ISSUING A BAD CHECK'
 'FAILURE TO PAY WAGES' 'CREATING A PUBLIC DISTURBANCE' 'SIMPLE TRESPASS'
 'DIVERT FR STATE BENE LBR EMPLOYEES    AM'
 'INJURY TO BAGGAGE ON PUBLIC CONVEYANCE M'
 'TAMPERING W/AIRPORT OR AIRWAYS'
 'PROMOTING PROSTITUTION, THIRD DEGREE  DF'
 'INJURY TO FENCES, GATES, OTHER PROP    M'
 'ILLEGAL GAIN FROM CREDIT CARD         AM'
 'NOTICES IN SALES AGRREMENT           UM'
 'FALSELY REPORTING AN INCIDENT 2ND     AM'
 'THEFT OF POULTRY                       M' 'FAILURE TO OBEY STOP SIGN'
 '(REPEALED) 53-173' 'IL TRAFFIC IN PERSONAL ID INFO        DF'
 'SPEEDING                               M'
 'DRIVING IMPROPERLY ON MULTI-LANE HWY'
 'ABUSE OF PERSONS-2ND DEGREE           DF' 'OBTAINING DRUGS ILLEGALLY'
 'COERCION' 'COMMIT SEXUAL OFF IN ANOTHER JURIS    DF'
 'ACT OF TERRORISM-ENHANCE SENT'
 'ALLOWING PERSON UNDER 16 TO OPERATE MV M'
 'FALSE STATEMENT, 2ND DEGREE           AM'
 'INTIMIDATION BASED ON BIGOTRY/BIAS    DF' 'FORGERY RELATED'
 'HINDER PROSECUTION DEFINED             F'
 'ILL OP MV WO IGNITION DEVICE          CM'
 'UNFAIR OR DECEPTIVE PRAC OR ACT'
 'CRIMINAL MISREPRESENTATION            CF' 'STARTING OR BACKING VEHICLE'
 'IMPROPER USE OF MARKER, LICENSE, REG   M' 'EXTRADITION'
 'CRIM DAMAGE PROPERTY 2ND DEG          AM'
 'PATRONIZING A PROSTITUTE              AM'
 'ENCOURAGING THE COMMISSION OF ABORTION M'
 'COUNTERFEITING MARKER PLATES           M'
 'USE OF HIGHWAY BY PEDESTRIAN           M'
 'SHOTGUNS AND RIFLES IN VEHICLE         M'
 'FORGERY OF SYMBOLS                    AM'
 'MONEY LAUNDERING FOURTH DEGREE        AM'
 'SOLICITING RIDES FROM MOTOR VEHICLES   M'
 'IDENTITY THEFT DEFINED                DF'
 'FAILURE TO CARRY MIN INSURANCE         M'
 'FAILURE TO OBEY TRAFFIC SIGNALS' 'OPERATING MV W/O A LICENSE'
 'INTIMIDATION BSD BIGOTRY/BIAS, 1ST    CF' 'CHEATING AT GAMBLING'
 'FALSE RPT INCIDNT CONCER INJ OR DEATH DF'
 'FALSE RPT INCIDNT RESULT INJ OR DEATH DF'
 'PART OR CONS FOR EXPORT MEANS         BF'
 'DRIVING INPROPERLY ON A ONE WAY STREET I'
 'CRIMINAL TROVER, 2ND DEGREE           AM'
 'INSURANCE FRAUD                       DF'
 'PROHIB ACTS RE: CONTROLLED SUBSTANCES'
 'FAILURE TO DRIVE ON RIGHT HAND ROADWAY'
 'UNLAWFUL DISCHARGE OF FIREARMS         M'
 'EXPIRATION AND RENEWAL OF REGISTRATION M'
 'LITTERING OR DUMPING PROHIBITED' 'ROBBERY BY CARJACKING'
 'FALSE STATEMENT TO PROCURE CREDT CARD AM'
 'FALSE ENTRY BY OFFICER OR PUB AGENT   AM' 'FUGITIVE FROM JUSTICE'
 'EAVESDROPPING                         DF'
 'TRAVELING UNREASONABLY FAST            M'
 'DRIVING IMPROPERLY IN RIGHT HAND LANE' '53A223C'
 'FAILURE TO CARRY DRIVERS LICENSE       M'
 'TOWN ORDINANCE $90 OR LESS (CI)' 'PENALTY FAIL TO SUBMIT FINGERPRINTS'
 'THEFT OF NUMBER PLATE OR INSER         M' 'CRIMINAL SIMULATION'
 'LARCENY RELATED']

In [23]:
# Convert Array into DataFrame
offense_df = pd.DataFrame(offense_array, columns=['Offense_Type'])
print(offense_df)

                                 Offense_Type
0    CRIMINAL POSS OF PISTOL/REVOLVER      DF
1       VIOLATION OF PROBATION OR COND DISCHG
2                            CRIMINAL ATTEMPT
3    CRIM VIOL OF PROTECTIVE ORDER         DF
4    CRIM VIOL ST CRIM RESTR ORDER         DF
..                                        ...
293           TOWN ORDINANCE $90 OR LESS (CI)
294       PENALTY FAIL TO SUBMIT FINGERPRINTS
295  THEFT OF NUMBER PLATE OR INSER         M
296                       CRIMINAL SIMULATION
297                           LARCENY RELATED

[298 rows x 1 columns]

In [24]:
# Group by offense type, race, age, and bail amount
df_3 = df_set.groupby(['OFFENSE'], as_index=False).agg({'BOND AMOUNT': sum})
df_3.head()

                                    OFFENSE  BOND AMOUNT
0                         (REPEALED) 53-048       500000
1                         (REPEALED) 53-173        20000
2                                    53A021     95549900
3                                   53A223C       390900
4  ABUSE OF PERSONS-1ST DEGREE           CF      1100000

In [25]:
df_3['Offense_Total'] = df_set['OFFENSE'].value_counts()
df_3.head()

                                    OFFENSE  BOND AMOUNT  Offense_Total
0                         (REPEALED) 53-048       500000            NaN
1                         (REPEALED) 53-173        20000            NaN
2                                    53A021     95549900            NaN
3                                   53A223C       390900            NaN
4  ABUSE OF PERSONS-1ST DEGREE           CF      1100000            NaN

# You can use the python csv module.


import csv
import random

offense_df = pd.DataFrame(offense_array, columns=['Offense_Type'])
print(offense_df)

with open('data.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(offense_df)

In [ ]:
# Successfully creating excel sheet with cell output
# offense_df.to_excel("./offensedf2.xlsx")

In [ ]:
# Took exported excel sheet and coded each type of offense as one of following:
# 1. Person
# 2. Property
# 3. Probation
# 4. Order (Violation of Order by Court, Police, or Municipality)
# 5. Drugs
# 6. Weapon
# 7. Juvenile
# 8. Attempt

In [26]:
# load newly coded .csv 
df_2 = pd.read_csv("offensedf2.csv", index_col=False)
df_2.head()

                               Offense_Type   Category
0  CRIMINAL POSS OF PISTOL/REVOLVER      DF    Weapons
1     VIOLATION OF PROBATION OR COND DISCHG  Probation
2                          CRIMINAL ATTEMPT    Attempt
3  CRIM VIOL OF PROTECTIVE ORDER         DF      Order
4  CRIM VIOL ST CRIM RESTR ORDER         DF      Order

In [27]:
# Sum of each Type of Category
df_2['Category'].value_counts()

Person       121
Property      55
Order         34
Weapons       23
Drugs         18
Probation      6
Juvenile       2
Attempt        2
Name: Category, dtype: int64

In [ ]:
#inner join in python pandas

#join_df = pd.merge(offense_df, df_2, on='Offense_Type', how='inner')
#join_df

In [ ]:
#join_df.info()

In [ ]:
#df_2['Offense_Total'] = df_2.Offense_Type.value_counts()
#df_2.head()

In [28]:
# Sum of each Type of Offense
df_offense = df_set['OFFENSE'].value_counts()
df_offense.head(50)

VIOLATION OF PROBATION OR COND DISCHG       131641
CRIM VIOL OF PROTECTIVE ORDER         DF     46904
ROBBERY, FIRST DEGREE                 BF     43225
INJURY OR RISK OF INJURY TO MINOR      F     43146
ASSAULT, FIRST DEGREE                 BF     38445
BURGLARY, THIRD DEGREE                DF     36977
SALE OF NARC/AMPHET BY NON-DEPENDENT   F     29849
MURDER                                AF     27436
SEXUAL ASSAULT, FIRST DEGREE           F     25187
FAILURE TO APPEAR, FIRST DEGREE       DF     24034
ASSAULT ON POLICE OR FIRE OFFICER     CF     21727
HOME INVASION                         AF     21405
ASSAULT, THIRD DEGREE                 AM     21274
CRIMINAL ATTEMPT                             20354
FAILURE TO APPEAR, SECOND DEGREE      AM     20144
INTERFERING WITH AN OFFICER           AM     19566
ASSAULT, SECOND DEGREE                DF     19485
POSSESSION OF NARCOTICS                      18631
CRIMINAL POSS OF PISTOL/REVOLVER      DF     17491
CRIMINAL POSSESSION OF A PISTOL       DF     16990
LARCENY, THIRD DEGREE                 DF     16917
LARCENY, FIRST DEGREE                 BF     14529
BURGLARY, FIRST DEGREE                BF     13678
LARCENY, SECOND DEGREE                CF     12659
CONSPIRACY                                   12611
THREATENING                           AM     11896
ROBBERY, SECOND DEGREE                CF     11664
STRANGULATION 2ND DEGREE              DF     11053
SALE OF HALLUCIGEN/NARCOTIC SUBSTANCE  F      9997
STEALING A FIREARM                    DF      9526
BURGLARY, SECOND DEGREE               CF      9116
LARCENY, SIXTH DEGREE                 CM      9071
SEXUAL ASSAULT, SECOND DEGREE          F      8785
FELONY MURDER                         AF      8622
ROBBERY, THIRD DEGREE                 DF      8169
YOUTHFUL OFFENDER                             7854
SALE OF HEROIN, COC BY NON-DEPENDENT          7115
SALE OF CONTROLLED SUBSTANCE           F      6742
ARREST WITHOUT WARRANT                        6478
CRIMINAL TRESPASS, FIRST DEGREE       AM      6304
DRUG PARAPHERNALIA IN DRUG FACTORY     F      6243
CARRYING WEAPONS WITHOUT A PERMIT      F      5712
OPERATE UNDER INFLU OF LIQ OR DRUGS           5673
BREACH OF PEACE                       BM      5241
CRIM VIOL RES ORDER                   AM      5220
CRIM VIOL ST CRIM RESTR ORDER         DF      5211
SEXUAL ASSAULT 1ST DEGREE-AGGRVTD      F      5041
KIDNAPPING, FIRST DEGREE              AF      4730
CARRYING WEAPON IN A MOTOR VEHICLE     F      4730
CARRYING OR SALE OF DANGEROUS WEAPON          4711
Name: OFFENSE, dtype: int64

In [29]:
# Overall Median for Bond Amount
df_set.median()

AGE               32.0
BOND AMOUNT    77500.0
dtype: float64

In [30]:
# Group by Offense then Sum of each race
df_race = df_set['RACE'].value_counts() 
df_race.head()

BLACK       413439
WHITE       359678
HISPANIC    267959
ASIAN         5078
AMER IND      2421
Name: RACE, dtype: int64

In [31]:
# Sum of bail amount by race
df_racebail = df_set.groupby(['RACE'], as_index=False).agg({'BOND AMOUNT': sum})
df_racebail.head()

       RACE   BOND AMOUNT
0  AMER IND     231344800
1     ASIAN     762682728
2     BLACK  103538148874
3  HISPANIC   52074854728
4     WHITE   47624838189

In [32]:
# mean of bail amount and age by race
df_racebailmean = df_set.groupby(['RACE'], as_index=False).mean()
df_racebailmean.head()

       RACE        AGE    BOND AMOUNT
0  AMER IND  32.332920   95557.538207
1     ASIAN  34.881252  150193.526585
2     BLACK  32.186185  250431.499868
3  HISPANIC  32.875059  194338.890382
4     WHITE  36.479234  132409.650268

In [33]:
# median of bail amount and age by race
df_racebailmed = df_set.groupby(['RACE'], as_index=False).median()
df_racebailmed.head()

       RACE  AGE  BOND AMOUNT
0  AMER IND   32        50500
1     ASIAN   32        50060
2     BLACK   29       100000
3  HISPANIC   31        95000
4     WHITE   34        50050

In [ ]:
#Add new column with offense category
category = []
for i in df_set["OFFENSE"]:
    if i == ["CRIMINAL POSS OF PISTOL/REVOLVER DF"]:
        category.append("Weapons")
    elif i ==["VIOLATION OF PROBATION OR COND DISCHG"]:
        category.append("Probation")
    elif i == ["CRIMINAL ATTEMPT"]:
        category.append("Attempt")
    elif i == ["CRIM VIOL OF PROTECTIVE ORDER         DF"]:
        category.append("Order")
    elif i == ["SALE OF NARC/AMPHET BY NON-DEPENDENT   F"]:
        category.append("Drugs")
    elif i == ["LARCENY, SECOND DEGREE                CF"]:
        category.append("Property")
    elif i == ["YOUTHFUL OFFENDER"]:
        category.append("Juvenile")
    else:
        category.append("Person")
       
df_set["Category"] = category   
df_set.head()

  DOWNLOAD DATE  ... Category
0       5/15/20  ...   Person
1       5/15/20  ...   Person
2       5/15/20  ...   Person
3       5/15/20  ...   Person
4       5/15/20  ...   Person

[5 rows x 11 columns]

In [ ]:
#Add new column with offense category
category = []
for i in df_set["OFFENSE"]:
    if "PISTOL/REVOLVER" in df_set.OFFENSE:
        category.append("Weapons")
    elif "VIOLATION OF PROBATION OR COND DISCHG" in df_set.OFFENSE:
        category.append("Probation")
    elif "CRIMINAL ATTEMPT" in df_set.OFFENSE:
        category.append("Attempt")
    elif "CRIM VIOL OF PROTECTIVE ORDER         DF" in df_set.OFFENSE:
        category.append("Order")
    elif "SALE OF NARC/AMPHET BY NON-DEPENDENT   F" in df_set.OFFENSE:
        category.append("Drugs")
    elif "LARCENY, SECOND DEGREE                CF" in df_set.OFFENSE:
        category.append("Property")
    elif "YOUTHFUL OFFENDER" in df_set.OFFENSE:
        category.append("Juvenile")
    else:
        category.append("Person")
       
df_set["Category"] = category   
df_set.head()

  DOWNLOAD DATE  ... Category
0       5/15/20  ...   Person
1       5/15/20  ...   Person
2       5/15/20  ...   Person
3       5/15/20  ...   Person
4       5/15/20  ...   Person

[5 rows x 11 columns]

In [ ]:
#Add new column with offense category
category = []
for i in df_set["OFFENSE"]:
    if "PISTOL/REVOLVER" in df_set.OFFENSE:
        category.append("Weapons")
    elif "VIOLATION OF PROBATION OR COND DISCHG" in df_set.OFFENSE:
        category.append("Probation")
    elif "CRIMINAL ATTEMPT" in df_set.OFFENSE:
        category.append("Attempt")
    elif "CRIM VIOL OF PROTECTIVE ORDER         DF" in df_set.OFFENSE:
        category.append("Order")
    elif "SALE OF NARC/AMPHET BY NON-DEPENDENT   F" in df_set.OFFENSE:
        category.append("Drugs")
    elif "LARCENY, SECOND DEGREE                CF" in df_set.OFFENSE:
        category.append("Property")
    elif "YOUTHFUL OFFENDER" in df_set.OFFENSE:
        category.append("Juvenile")
    else:
        category.append("Person")
       
df_set["Category"] = category   
df_set.head()

In [ ]:
if 'PISTOL/REVOLVER' in df_set.OFFENSE:
        df_set.Category = ["Weapons"]

df_set.head()

  DOWNLOAD DATE  ... Category
0       5/15/20  ...   Person
1       5/15/20  ...   Person
2       5/15/20  ...   Person
3       5/15/20  ...   Person
4       5/15/20  ...   Person

[5 rows x 11 columns]

In [ ]:

if 'PISTOL/REVOLVER' in df_set.OFFENSE:
		df_set["Category"] == "Weapons"
df_set.head()

  DOWNLOAD DATE  ... Category
0       5/15/20  ...   Person
1       5/15/20  ...   Person
2       5/15/20  ...   Person
3       5/15/20  ...   Person
4       5/15/20  ...   Person

[5 rows x 11 columns]

In [ ]:
df_set['Category'].value_counts()

Person    1048575
Name: Category, dtype: int64

**Data Visualization**

In [ ]:
# Basic Plots with Matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('classic')

In [ ]:
# matplotlib plot
import matplotlib.pyplot as plt
df_year.plot(x = 'year', grid=True)
plt.xlabel('year')
plt.ylabel('Column name')

In [ ]:
# matplotlib barplot
import matplotlib.pyplot as plt
x = df_year['year']
y = df_year['Column name']
plt.bar(x, y)
plt.xlabel('Year')
plt.ylabel('Column name')
plt.show()

**Statistics**

In [ ]:
# Multiple functions
grouped['C'].agg([np.sum, np.mean, np.std])

In [ ]:
df.groupby('A').aggregate('C').mean()

In [ ]:
df.groupby('A').C.mean()

In [ ]:
# Bootstrapping 
bootstrap = pd.DataFrame({'name_of_sampling_df': [pop.sample(100, replace = True).VARIABLE_NAME_HERE.mean() for i in range (1000)]})